# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/node_modules
package-lock.json
yarn.lock
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
.pnpm-debug.log*

# nextjs
/.next/
/out/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea


frontend/.next/app-build-manifest.json
frontend/.next/build-manifest.json
frontend/.next/react-loadable-manifest.json
frontend/.next/trace
frontend/.next/cache/webpack/client-development/0.pack.gz
frontend/.next/cache/webpack/client-development/1.pack.gz
frontend/.next/cache/webpack/client-development/2.pack.gz
frontend/.next/cache/webpack/client-development/3.pack.gz
frontend/.next/cache/webpack/client-development/4.pack.gz
frontend/.next/cache/webpack/client-development/5.pack.gz
frontend/.next/cache/webpack/client-development/6.pack.gz
frontend/.next/cache/webpack/client-development/7.pack.gz
frontend/.next/cache/webpack/client-development/8.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz.old
frontend/.next/cache/webpack/edge-server-development/0.pack.gz
frontend/.next/cache/webpack/edge-server-development/index.pack.gz
frontend/.next/cache/webpack/server-development/0.pack.gz
frontend/.next/cache/webpack/server-development/1.pack.gz
frontend/.next/cache/webpack/server-development/2.pack.gz
frontend/.next/cache/webpack/server-development/3.pack.gz
frontend/.next/cache/webpack/server-development/4.pack.gz
frontend/.next/cache/webpack/server-development/5.pack.gz
frontend/.next/cache/webpack/server-development/6.pack.gz
frontend/.next/cache/webpack/server-development/7.pack.gz
frontend/.next/cache/webpack/server-development/8.pack.gz
frontend/.next/cache/webpack/server-development/9.pack.gz
frontend/.next/cache/webpack/server-development/10.pack.gz
frontend/.next/cache/webpack/server-development/11.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz.old
frontend/.next/server/app-paths-manifest.json
frontend/.next/server/edge-runtime-webpack.js
frontend/.next/server/middleware-build-manifest.js
frontend/.next/server/middleware-manifest.json
frontend/.next/server/middleware-react-loadable-manifest.js
frontend/.next/server/server-reference-manifest.json
frontend/.next/server/webpack-runtime.js
frontend/.next/server/app/admin/default/page_client-reference-manifest.js
frontend/.next/server/app/admin/default/page.js
frontend/.next/server/src/middleware.js
frontend/.next/server/static/webpack/633457081244afec._.hot-update.json
frontend/.next/server/vendor-chunks/@swc.js
frontend/.next/server/vendor-chunks/@tanstack.js
frontend/.next/server/vendor-chunks/@wojtekmaj.js
frontend/.next/server/vendor-chunks/asynckit.js
frontend/.next/server/vendor-chunks/axios.js
frontend/.next/server/vendor-chunks/combined-stream.js
frontend/.next/server/vendor-chunks/debug.js
frontend/.next/server/vendor-chunks/delayed-stream.js
frontend/.next/server/vendor-chunks/follow-redirects.js
frontend/.next/server/vendor-chunks/form-data.js
frontend/.next/server/vendor-chunks/get-user-locale.js
frontend/.next/server/vendor-chunks/has-flag.js
frontend/.next/server/vendor-chunks/js-cookie.js
frontend/.next/server/vendor-chunks/lodash.memoize.js
frontend/.next/server/vendor-chunks/merge-class-names.js
frontend/.next/server/vendor-chunks/mime-db.js
frontend/.next/server/vendor-chunks/mime-types.js
frontend/.next/server/vendor-chunks/ms.js
frontend/.next/server/vendor-chunks/next.js
frontend/.next/server/vendor-chunks/object-assign.js
frontend/.next/server/vendor-chunks/prop-types.js
frontend/.next/server/vendor-chunks/proxy-from-env.js
frontend/.next/server/vendor-chunks/react-calendar.js
frontend/.next/server/vendor-chunks/react-icons.js
frontend/.next/server/vendor-chunks/react-is.js
frontend/.next/server/vendor-chunks/supports-color.js
frontend/.next/static/chunks/_app-pages-browser_node_modules_react-apexcharts_dist_react-apexcharts_min_js.js
frontend/.next/static/chunks/app-pages-internals.js
frontend/.next/static/chunks/main-app.js
frontend/.next/static/chunks/webpack.js
frontend/.next/static/chunks/app/layout.js
frontend/.next/static/chunks/app/admin/layout.js
frontend/.next/static/chunks/app/admin/default/page.js
frontend/.next/static/css/app/layout.css
frontend/.next/static/css/app/admin/default/page.css
frontend/.next/static/media/avatar4.bfc58fb4.png
frontend/.next/static/webpack/633457081244afec._.hot-update.json
frontend/.next/types/app/layout.ts
frontend/.next/types/app/admin/layout.ts
frontend/.next/types/app/admin/default/page.ts
frontend/.next/app-build-manifest.json
frontend/.next/build-manifest.json
frontend/.next/react-loadable-manifest.json
frontend/.next/trace
frontend/.next/cache/webpack/client-development/0.pack.gz
frontend/.next/cache/webpack/client-development/1.pack.gz
frontend/.next/cache/webpack/client-development/2.pack.gz
frontend/.next/cache/webpack/client-development/3.pack.gz
frontend/.next/cache/webpack/client-development/4.pack.gz
frontend/.next/cache/webpack/client-development/5.pack.gz
frontend/.next/cache/webpack/client-development/6.pack.gz
frontend/.next/cache/webpack/client-development/7.pack.gz
frontend/.next/cache/webpack/client-development/8.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz
frontend/.next/cache/webpack/client-development/index.pack.gz.old
frontend/.next/cache/webpack/edge-server-development/0.pack.gz
frontend/.next/cache/webpack/edge-server-development/index.pack.gz
frontend/.next/cache/webpack/server-development/0.pack.gz
frontend/.next/cache/webpack/server-development/1.pack.gz
frontend/.next/cache/webpack/server-development/2.pack.gz
frontend/.next/cache/webpack/server-development/3.pack.gz
frontend/.next/cache/webpack/server-development/4.pack.gz
frontend/.next/cache/webpack/server-development/5.pack.gz
frontend/.next/cache/webpack/server-development/6.pack.gz
frontend/.next/cache/webpack/server-development/7.pack.gz
frontend/.next/cache/webpack/server-development/8.pack.gz
frontend/.next/cache/webpack/server-development/9.pack.gz
frontend/.next/cache/webpack/server-development/10.pack.gz
frontend/.next/cache/webpack/server-development/11.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz
frontend/.next/cache/webpack/server-development/index.pack.gz.old
frontend/.next/server/app-paths-manifest.json
frontend/.next/server/edge-runtime-webpack.js
frontend/.next/server/middleware-build-manifest.js
frontend/.next/server/middleware-manifest.json
frontend/.next/server/middleware-react-loadable-manifest.js
frontend/.next/server/server-reference-manifest.json
frontend/.next/server/webpack-runtime.js
frontend/.next/server/app/admin/default/page_client-reference-manifest.js
frontend/.next/server/app/admin/default/page.js
frontend/.next/server/src/middleware.js
frontend/.next/server/static/webpack/633457081244afec._.hot-update.json
frontend/.next/server/vendor-chunks/@swc.js
frontend/.next/server/vendor-chunks/@tanstack.js
frontend/.next/server/vendor-chunks/@wojtekmaj.js
frontend/.next/server/vendor-chunks/asynckit.js
frontend/.next/server/vendor-chunks/axios.js
frontend/.next/server/vendor-chunks/combined-stream.js
frontend/.next/server/vendor-chunks/debug.js
frontend/.next/server/vendor-chunks/delayed-stream.js
frontend/.next/server/vendor-chunks/follow-redirects.js
frontend/.next/server/vendor-chunks/form-data.js
frontend/.next/server/vendor-chunks/get-user-locale.js
frontend/.next/server/vendor-chunks/has-flag.js
frontend/.next/server/vendor-chunks/js-cookie.js
frontend/.next/server/vendor-chunks/lodash.memoize.js
frontend/.next/server/vendor-chunks/merge-class-names.js
frontend/.next/server/vendor-chunks/mime-db.js
frontend/.next/server/vendor-chunks/mime-types.js
frontend/.next/server/vendor-chunks/ms.js
frontend/.next/server/vendor-chunks/next.js
frontend/.next/server/vendor-chunks/object-assign.js
frontend/.next/server/vendor-chunks/prop-types.js
frontend/.next/server/vendor-chunks/proxy-from-env.js
frontend/.next/server/vendor-chunks/react-calendar.js
frontend/.next/server/vendor-chunks/react-icons.js
frontend/.next/server/vendor-chunks/react-is.js
frontend/.next/server/vendor-chunks/supports-color.js
frontend/.next/static/chunks/_app-pages-browser_node_modules_react-apexcharts_dist_react-apexcharts_min_js.js
frontend/.next/static/chunks/app-pages-internals.js
frontend/.next/static/chunks/main-app.js
frontend/.next/static/chunks/webpack.js
frontend/.next/static/chunks/app/layout.js
frontend/.next/static/chunks/app/admin/layout.js
frontend/.next/static/chunks/app/admin/default/page.js
frontend/.next/static/css/app/layout.css
frontend/.next/static/css/app/admin/default/page.css
frontend/.next/static/media/avatar4.bfc58fb4.png
frontend/.next/static/webpack/633457081244afec._.hot-update.json
frontend/.next/types/app/layout.ts
frontend/.next/types/app/admin/layout.ts
frontend/.next/types/app/admin/default/page.ts
.DS_Store
