# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env* text eol=lf

# Documents
*.doc binary
*.docx binary
*.pdf binary
*.rtf binary
*.odt binary
*.odp binary
*.pptx binary
*.ppt binary

# Audio files
*.mp3 binary
*.wav binary 
*.aac binary
*.flac binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Configs
.gitattributes text eol=lf
.gitignore text eol=lf
.env.* text eol=lf
.eslintrc text eol=lf
.prettierrc text eol=lf
*.config.js text eol=lf
package.json text eol=lf
package-lock.json text eol=lf
yarn.lock binary

# Logs
*.log text eol=lf

# Database
*.sql text eol=lf

# NextJS
*.svg text eol=lf
